* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#screen{
    background-color: #e2dbd3;
}
table {
    border-collapse: collapse;
    background-color: #00000044;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
    margin: 20px;
}

thead th {
    background-color: #be5b5b;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #fff;
    font-size: 18px;
}

tbody th {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

tbody th:hover {
    background-color: #f2f2f2;
}

tbody th[rowspan="3"] {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

tbody th:not([rowspan="3"]) {
    font-size: 20px;
    color: #333;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
