body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.gallery img:hover {
    opacity: 0.3;
}
